/* You can add global styles to this file, and also import other style files */
$template-color-8: #021857;
$template-color-7: #052d9b;
$template-color-6: #0236c5;
$template-color-5: #748ede;
$template-color-4: #8ea7e6;
$template-color-3: #a8bfef;
$template-color-2: #c1d8f7;
$template-color-1: #dbf0ff;

$white: #ffffff;
$alert: #f4e216;
$success: #16f437;
$warning: #f41616;
$black: #000000;
$gray-1: #cecece;
$gray-2: #747474;
$gray-3: #4b4b4b;


$background: #f2f2f2;
$text-color-1: $white;
$text-color-2:#3f3f40;
$text-color-3: $gray-1;
$text-color-4:black;