@import '../../../../../styles/variables.scss';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    min-height: 15rem;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $template-color-3;
    padding-bottom: 2rem;
}

img {
    object-fit: cover;
    width: 16rem;
    height: 12rem;
}

.content-bottom {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 16rem;
}

a {
    line-height: 18px;
    width: fit-content;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 300;
    color: $text-color-2;
}

.color-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        font-size: 18px;
        font-weight: 900
    }

    div {
        margin-left:0.5rem;
        width: 2rem;
        height: 2rem;
        border-radius:30px;
        border: 0.1rem solid black;

        &:hover{
        
        }
    }


}