<div class='content'>
    <div class='content-top'>
        <img src='{{image}}' />
    </div>
    <div class='content-bottom'>
        <h1>{{name}}</h1>
        <div class="information-content"><img src='../../../../../assets/icons/location-Icon.svg' />
            <h1>em São José dos Campos</h1>
        </div>
        <div class="information-content"><img src='../../../../../assets/icons/date-Icon-com.svg' />
            <h1 id="year">{{year}}</h1>
        </div>
        <home-is-sold [isSold]='isSold' ></home-is-sold>
        <div class="color-content">
            <h2>Cor do carro</h2>
            <div [ngStyle]="{'background-color': color}"></div>
        </div>
    </div>
</div>