@import '../../../../../styles/variables.scss';

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 17rem;
    min-height: 15rem;
    background-color: $white;
    border-radius: 5px;
    border: 1px solid $template-color-3;
    padding-bottom:2rem;
}

img {
    object-fit: cover;
    width: 16rem;
    height: 12rem;
}

.content-bottom {
    margin: 1rem 0.5rem 0 0.5rem;
    width: 16rem;
}

a {
    line-height: 18px;
    width: fit-content;
    margin: 0px 0px 10px;
    font-size: 14px;
    font-weight: 300;
    color: $text-color-2;
}

h2 {
    font-size: 18px;
    font-weight: 900
}

h3 {
    font-weight: bold;
    font-size: 12px;
}

span {
    font-size: 12px;
}
#text-content{
    margin-top:10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}