<app-create-vehicle-header pageTitle="Cadastrar Veículo" [routes]="routes"></app-create-vehicle-header>
<div class="content">
    <form class="content-form" [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
        <h1>Adicione um novo veículo</h1>
        <div class="input-container">
            <input class="input-content" formControlName="name" placeholder='Name'>
        </div>
        <div class="input-container">
            <input class="input-content" formControlName="image" placeholder='Imagem'>
        </div>
        <div class="input-container">
            <input class="input-content" type='number' formControlName="year" placeholder='Ano'>
        </div>
        <div class="input-container">
            <input class="input-content" formControlName="description" placeholder='Descrição'>
        </div>
        <h2>Selecione a marca do veículo</h2>
        <section class="brand-grid">
            <div class="allinputs-content" *ngFor="let brand of brands">
                <input id="c2" type="radio"  [value]="brand.id" formControlName="brand_id">
                <label for="c2">{{brand.name}}</label>
            </div>
        </section>
        <h2>Selecione o status do veículo</h2>
        <section class="brand-grid">
            <div class="allinputs-content">
                <input id="c2" type="radio"  [value]="false" formControlName="is_sold">
                <label for="c2">Disponível</label>
            </div>
            <div class="allinputs-content">
                <input id="c2" type="radio"  [value]="true" formControlName="is_sold">
                <label for="c2">Vendido</label>
            </div>
        </section>
        <button class="submit-button" type="submit">Cadastrar</button>
    </form>
</div>