@import '../../../styles/variables.scss';

.content {
    width: auto;
    min-height: 200px;
    padding: 3rem 5vw;
}

.content-itens {
    width: auto;
    min-height: 200px;
    padding: 1rem;
    background: $background;
    border-radius: 10px;
    // border: 1px solid $template-color-8;
}

.content-title {
    font-weight: bold;
    color: $text-color-2;
    margin-bottom: 1rem;
}

.grid-itens {
    display: grid;
    grid-template-areas:
        "a a a a";
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-column: 150px calc(90vw - 150px);

    @media only screen and  (max-width:1560px){
        grid-template-areas:
        "a a a";
    }
    @media only screen and  (max-width:1200px){
        grid-template-areas:
        "a a";
    }
    @media only screen and  (max-width:800px){
        grid-template-areas:
        "a";
    }
}