<app-header pageTitle="Home" [routes]="routes"></app-header>
<div class="content">
    <section class="brands-section">
        <h2>Clique na marca para usar como filtro</h2>
        <div class="brands-content">
            <div class="brand-container" *ngFor="let brand of brands"
                (click)="getVehiclesForBrands(brand.id, brand.name)"><img src='{{brand.image}}' /></div>
        </div>
    </section>
    <h1 class="content-title" *ngIf="isFiltered">{{brandFilter}} distribuiu {{countVehicles}} veículos</h1>
    <form class="filter-input" *ngIf="!isFiltered && !isAnotherFilters" [formGroup]="decadeForm" (ngSubmit)="getVehiclesForDecade($event)">
        <label>Década de fabricação</label>
        <section>
            <input type="number" min="1970" max="2030" formControlName='decade'/>
            <button type="submit" >Aplicar</button>
        </section>
    </form>
    <button class="button-removeFilters" *ngIf="!isAnotherFilters" id="notSold" (click)="getNotSoldVehicles()">Mostrar não vendidos</button>
    <section class="content-itens">
        <button class="button-removeFilters" *ngIf="isFiltered || isAnotherFilters" (click)="removeFilters()">Remover
            Filtros</button>
        <h1 class="content-title" *ngIf="vehicles.length">Veículos</h1>
        <h1 class="content-title" *ngIf="!vehicles.length">Nenhum veículo encontrado</h1>
        <div class='grid-itens'>
            <home-product-item *ngFor="let vehicle of vehicles" name="{{vehicle.name}}" color="{{vehicle.color}}"
                image="{{vehicle.image}}" [year]="vehicle.year" [isSold]="vehicle.is_sold"></home-product-item>
        </div>
    </section>
</div>