@import '../../../styles/variables.scss';
@import '../../../styles/inputs.scss';

.content {
    width: auto;
    min-height: 200px;
    padding: 3rem 5vw;
}

.content-itens {
    width: auto;
    min-height: 200px;
    padding: 1rem;
    background: $background;
    border-radius: 10px;
    // border: 1px solid $template-color-8;
}

.content-title {
    font-weight: bold;
    color: $text-color-2;
    margin-bottom: 1rem;
}

.grid-itens {
    display: grid;
    grid-template-areas:
        "a a a a";
    grid-template-rows: auto auto;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-column: 150px calc(90vw - 150px);

    @media only screen and (max-width:1560px) {
        grid-template-areas:
            "a a a";
    }

    @media only screen and (max-width:1200px) {
        grid-template-areas:
            "a a";
    }

    @media only screen and (max-width:800px) {
        grid-template-areas:
            "a";
    }
}

.brands-section {
    width: 100%;
    display: flex;
    // align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;

    h2 {
        font-weight: bold;
        color: $text-color-2;
        margin-bottom: 1rem;
        margin-left: 2rem;
    }
}

.brands-content {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));

    @media(max-width:510px) {
        width: 100vw;
        grid-template-columns: repeat(auto-fit, minmax(30vw, 1fr));
    }

}

.brand-container {
    width: 220px;
    height: 98px;
    margin: 5px 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid $gray-1;
    border-radius: 10px;

    @media(max-width:510px) {
        margin: 0;
        width: 29vw;
        height: 10vh;
    }

    img {
        object-fit: cover;
        max-width: 95%;
        max-height: 95%;
    }

    &:hover {
        filter: contrast(0.5);
    }
}


.button-removeFilters {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 900;
    background: $template-color-8;

    &:hover {
        background: $template-color-6;
    }

    margin:1rem 0;
}


.filter-input {
    display: flex;
    flex-direction: column;

    label {
        font-weight: 600;
    }

    input {
        width: 500px;
        border: 1px solid white;
        -webkit-box-shadow:
            inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        -moz-box-shadow:
            inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        box-shadow:
            inset 0 0 8px rgba(0, 0, 0, 0.1),
            0 0 16px rgba(0, 0, 0, 0.1);
        padding: 10px;
        background: rgba(255, 255, 255, 0.5);
        margin: 0 0 10px 0;
    }
    input:invalid {
        border-color: red !important;
      }
      input:valid {
        border-color: green !important;
      }
    button{
        width: 100px;
        margin-left:1rem;
        height: 2.5rem;
        border-radius: 10px;
        border: 4px solid $template-color-2;
        background-color: $template-color-1;
        font-weight: 600;
    
        &:hover {
            background-color: $template-color-2;
        }
    }
}

#notSold{
    background-color:$template-color-7;
    &:hover {
        background-color:$template-color-4;
    }
}


.product-item-content {
    display: flex;
    flex-direction: column;
    width: 350px;
    min-height: 300px;
    background-color: $white;
    border-radius: 5px;
    padding-bottom: 2rem;
    border-radius: 10px;
    img {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        object-fit: cover;
        width: 100%;
        height: 200px;
    }
    h1 {
        line-height: 18px;
        width: fit-content;
        font-size: 20px;
        font-weight: 900;
        text-decoration: none;
        color: $text-color-2;
    }
}



.product-item-content-bottom {
    margin: 1rem 1rem 0 0.9rem;
    width: auto;
}



.product-item-color-content {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    h2 {
        font-size: 18px;
        font-weight: 900;
        color: $text-color-2;
    }

    div {
        margin-left: 0.5rem;
        width: 2rem;
        height: 2rem;
        border-radius: 30px;
        border: 0.1rem solid black;
        &:hover {}
    }


}

.product-item-information-content {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;

    img {
        height: 30px;
        width: 30px;
        object-fit: contain;
        margin-right: 1rem;
    }

    h1 {
        width: 150px;
        font-size: 13px;
        color: $text-color-2;
        font-weight: 300;
    }

    #year {
        font-size: 17px;
    }
}

.product-item-delete-button {
    margin-top: 1rem;
    width: 100%;
    border: none;
    min-height: 40px;
    border-radius: 7px;
    filter: grayscale(0.5);
    color: $text-color-1;
    font-weight: 900;
    background-color: $warning;

    &:hover {
        filter: none;
    }

}