<section>
    <div class="content">
        <div class="brand-container"><img src='https://cdn.worldvectorlogo.com/logos/chevrolet-1.svg'/></div>
        <div class="brand-container"><img src='https://cdn.worldvectorlogo.com/logos/chevrolet-1.svg'/></div>
        <div class="brand-container"><img src='https://cdn.worldvectorlogo.com/logos/chevrolet-1.svg'/></div>
        <div class="brand-container"><img src='https://cdn.worldvectorlogo.com/logos/chevrolet-1.svg'/></div>
        <div class="brand-container"><img src='https://cdn.worldvectorlogo.com/logos/chevrolet-1.svg'/></div>
    </div>
</section>